<div class="container single_product_container">
  <div class="row">
    <div class="col-lg-4">
      <div class="single_product_pics">
        <div class="row">
          <div class="col-lg-3 image_col order-lg-2 order-1">
            <div class="single_product_image">
              <%= display_merchant(@merchant.image_url) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="product_details">
        <div class="">
          <h2><%= @merchant.name %></h2>
          <p><%= @merchant.description %>
          </p>
        </div>

      </div>

    </div>
  </div>


</div>
<div style="margin-top : -400px">
  <%= render(partial: "shared/list_product") %>

</div>
